
<aside class="fixed" data-ng-controller="sidebar">
    <div class="sidebar-inner scrollable-sidebar">
        <div class="size-toggle">
            <a class="btn btn-sm" id="sizeToggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="btn btn-sm pull-right logoutConfirm_open" href="#logoutConfirm">
                <i class="fa fa-power-off"></i>
            </a>
        </div><!-- /size-toggle -->
        <div class="user-block clearfix">
            <img src="img/user2.jpg" alt="User Avatar">
            <div class="detail">
                <strong>{{user.firstName}} {{user.lastName}}</strong>
                <!--<span class="badge badge-danger m-left-xs bounceIn animation-delay4">4</span>-->
                <!--<ul class="list-inline">

                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="inbox.html" class="no-margin">Inbox</a></li>
                </ul> -->
            </div>
        </div><!-- /user-block -->
        <!--sidebar menu-->
        <div class="main-menu">
            <ul>
                <li class="">
                    <a href="#dashboard">
                        <span class="menu-icon">
                            <i class="fa fa-desktop fa-lg"></i>
                        </span>
                        <span class="text">
								Dashboard
                        </span>
                        <span class="menu-hover"></span>
                    </a>
                </li>
                <!--<li data-ng-click="navigate('courses')">
                    <a href="#courses">
                        <span class="menu-icon">
                            <i class="fa fa-book fa-lg"></i>
                        </span>
                        <span class="text">
								Courses
                        </span>
                        <span class="menu-hover"></span>
                    </a>
                    <ul class="submenu" data-ng-show="true">
                        <li><a href="#courses/1"><span class="submenu-label">Course 1</span></a></li>
                        <li><a href="#courses/2"><span class="submenu-label">Course 2</span></a></li>

                    </ul>
                </li>-->

                <!-- Depatments -->
                <li class="openable">
                    <a> <!--data-ng-click="navigate('courses')">-->
                        <span class="menu-icon">
                            <i class="fa fa-group fa-lg"></i>
                        </span>
                        <span class="text">
								Departments
                        </span>
                        <span class="badge badge-success bounceIn animation-delay5">9</span>
                        <span class="menu-hover"></span>
                    </a>
                    <ul class="submenu">
                        <li data-ng-repeat="department in departments"><a data-ng-click="navigate('department',{departmentId:department.id})"><span class="submenu-label">{{department.name}}</span></a></li>
                    </ul>
                </li>

                <!--
                <li class="">
                    <a href="#calendar">
                        <span class="menu-icon">
                            <i class="fa fa-calendar fa-lg"></i>
                        </span>
                        <span class="text">
								Calendar
                        </span>
                        <span class="menu-hover"></span>
                    </a>
                </li>
                -->
            </ul>
        </div><!-- /main-menu -->
    </div><!-- /sidebar-inner -->
</aside>