
<div class="padding-md">

    <div class="panel panel-default table-responsive">
        <div class="panel-heading">
					Responsive Table
            <span class="label label-info pull-right">790 Items</span>
        </div>
        <table class="table table-striped" id="responsiveTable">
            <thead>
            <tr>

                <th>Course</th>
                <th>Progress</th>
                <th>Completed</th>
                <th>In Progress</th>
                <th>Not Yet Started</th>
            </tr>
					</thead>
            <tbody>
            <tr>
                <td>Food Law</td>
                <td>
                    <div class="progress progress-striped active" style="height:8px; margin:5px 0 0 0;">
                        <div class="progress-bar progress-bar-danger" style="width: 45%">
                            <span class="sr-only">45% Complete</span>
                        </div>
                    </div>
                </td>
                <td>30</td>
                <td>187</td>
                <td>53</td>
            </tr>
            <tr>
                <td>Beverage Law</td>
                <td>
                    <div class="progress progress-striped active" style="height:8px; margin:5px 0 0 0;">
                        <div class="progress-bar" style="width: 45%">
                            <span class="sr-only">45% Complete</span>
                        </div>
                    </div>
                </td>
                <td>0</td>
                <td>861</td>
                <td>23</td>
            </tr>
					</tbody>
        </table>
                    <!--<div class="panel-footer clearfix">
                                    <ul class="pagination pagination-xs m-top-none pull-right">
                                        <li class="disabled"><a href="#">Previous</a></li>
                                        <li class="active"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li><a href="#">Next</a></li>
                                    </ul>
                                </div>-->
    </div><!-- /panel -->
</div><!-- /.padding-md -->